@{
    ViewData["Title"] = "Character Not Found";
}
<div class="text-lg-center" style="display: block">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="text-lg-center" style="display: block">
    <h1><a href="/Home/Index/">Return to Main Menu</a></h1>
</div>