@{
    ViewData["Title"] = "About This Site";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <h1 class="text-center">@ViewData["Title"]</h1>
            <div class="text-center">
                <h1 class="display-4">Welcome</h1>
                    <p>This site was created to be my final project for the Software Development course</p>
                    <p> from <a href="https://truecoders.io/">TrueCoders</a>. Being a long time table top gamer, I happened to have a ton of old character</p>
                    <p> sheets sitting around that I can't seem to just throw away;  and also know the time it takes for a game master</p>
                    <p> to create partial characters to use as NPCs and enemies alike. I thought if there were others</p>
                    <p> that have as many old and un-used characters laying around, why not upload your characters</p>
                    <p> to a website where anyone can use them in their games and save the time and effort of rolling</p>
                    <p> up new ones? The idea for this was born from that idea and I hope that it sees its purpose achieved!</p>
                    <p>Game on!</p>
                </div>
            <div class="text-center">
         <p></p>
         <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>
