
@{
    ViewData["Title"] = "Main Menu:";
}
<div class="text-lg-center" style="display: block">
<h1>@ViewData["Title"]</h1>
</div>

<div class="text-lg-center" style="display: block">
    <a href="/Character/InsertCharacter/">
    <h2>Create a New Character</h2>
    </a>
</div>

<div class="text-lg-center" style="display: block">
    <a href="/Character/Index/">
    <h2>View All Characters</h2>
    
    </a>
</div>


<div class="text-lg-center" style="display: block">
    @using (Html.BeginForm("SearchForCharacter", "Character", "Post"))
    {
        <form asp-controller="Character" asp-action="Index" method="get">
        <p>
            <h2>Search For Characters:</h2>
          
                <div class="input-group">
                    <input type="search" class="form-control rounded" name="searchParameters" placeholder="Search All Characters" href="/Character/SearchForCharacter/" aria-label="Search" aria-describedby="search-addon" />
                   
                </div>            
        </p>
        </form>

    }  
</div>
<details style="font-size: 28px; -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; color:yellowgreen; text-shadow: 3px 3px 8px yellowgreen; padding:10px 10px 70px 10px;" align="center">
    (search terms with commas for multiple terms)
</details>

