@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h3>@ViewData["Title"]</h3>
    <p style="font-size: 24px; font-weight: bold;">
        So I decided to make this website as simple and unobtrusive
        as I could, so hopefully there wouldn't be hardly any security concerns
        for a user. I might add passwordless authentication in the future,
        but for now it will have basic access for all until it can be
        implemented. As for cookies, those will be required to maintain your
        sign-in credentials, but I didn't get crazy with them. I will also be
        adding advertisements on the sides to not intrude with activity, 
        and hopefully just off-setting the costs of hosting. As for
        personal info, I will do my best not to have anything but
        the information from your character that you entered. Hopefully it keeps
        this site off of the radar to the people who would try to steal data.
        </p>
</div>