@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
<h1>@ViewData["Title"]</h1>

<p>So I decided to make this website as simple and unobtrusive</p>
<p>as I could, so hopefully there wouldn't be hardly any security concerns</p>
<p>for a user. I might add accounts and passwordless authentication in the </p>
<p>future, but for now it will have basic access for all until it can be</p>
<p>implemented. As for cookies, at that time those will be required to maintain</p>
<p>your sign-in credentials. I will also be adding advertisements on the sides</p>
<p>to not intrude with activity, and hopefully just off-setting the costs of</p>
<p>hosting. As for personal info, I will do my best not to have anything but</p>
<p>the information from your character that you entered. hopefully it keeps</p>
<p>this site off of the radar to the people who would try to steal data.</p>
</div>