<li class="nav-item dropdown show">
    <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">Admin Menu</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="ListRoles">Roles Menu</a>        
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Character" asp-action="Index">Character Check</a>        
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="ListUsers">User List</a>
    </div>
</li>