<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Character Storage @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CharacterDatabase.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav flex-fill">
                        <li><a class="nav-link text-light" asp-area="Home" asp-controller="Home" asp-action="About">About</a></li>
                        @if (User.IsInRole("User") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Character" asp-controller="Character" asp-action="UserHome" asp-route-id="">My Characters</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {                            
                            <li class="nav-item">
                                <partial name="_AdminMenuPartial" />
                            </li>
                        }
                    </ul> 
                    <div class="navbar-header flex-fill">
                        <h1>
                            <a class="navbar-brand" asp-area="Home" asp-controller="Home" asp-action="Index" style="font-family: 'Times New Roman'; font-size:42px;">RPG Character Storage</a>
                        </h1>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>               
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark text-light">
        <div align="center" class="container">
            <a asp-area="Home" asp-controller="Home" asp-action="Privacy" style="color:whitesmoke">Privacy</a> - &copy; 2023 - RPG Character Storage - <a style="color: white" href="https://brysonvarner.com" />Created By: Bryson Varner</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

               